@import "../../App.scss";

header-content-about { 
    min-height: 60vh;
        @media screen and (max-width: 768px){
            font-size: 28px;
        
    }
}


.header-about {
    height: 400px;

}


 .header-title-about {
    margin-top: 100px;
    text-align: center;
    position: relative;
    font-size: 40px;
    font-family: $font-family-rubik;
    font-weight: 500;
    position: relative;
 }



 .aboutItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

 }

 .aboutTitle {
  margin: 10px;
  padding: 5px;
  width: 50%;
  border-top: solid 1px $darkBlue;
  border-bottom: solid 1px $darkBlue;
  line-height: 19px;
  font-weight: 600;
 }

 .aboutList {
    list-style-type: none;
    margin-bottom: 30px;
 }

 .aboutListItem {
    margin-bottom: 5px;
    display: inline-block;
    width: 50%;
    margin-top: 15px;

 }

 .p-about {
    padding: 20px;
    margin-left: 280px;
    margin-right: 290px;
    @media screen and (max-width: 768px){
        margin-left: 140px;
        margin-right: 140px;
}
 }


 .about {
    display: flex;
    justify-content: space-between;
    align-items: center; 

    .aboutText{
        width: 50%;
        @media screen and (max-width: 768px){
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        
    }
    }
    .aboutImage {
        width: 50%;
        text-align: right;
        @media screen and (max-width: 768px){
            display: none;
        
    }
    }
 }

 .horz-line{
    width: 120px;
    height: 5px;
    margin-right: auto;
    margin-left: auto;
    background-color: $white;
    
}